<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="sqlServerConnection" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\COMPANY\GITHUB\sndjones007\ChronoChore\AsyncAwaitDemo\AsyncAwaitDemo\PersistenceStore.mdf;Integrated Security=True" />
  </appSettings>
</configuration>